NEXT_PUBLIC_API_URL=https://YOUR_API_ID.execute-api.ap-northeast-1.amazonaws.com
NEXT_PUBLIC_COGNITO_USER_POOL_ID=ap-northeast-1_xxxxxxxxx
NEXT_PUBLIC_COGNITO_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxx
NEXT_PUBLIC_COGNITO_DOMAIN=https://YOUR_DOMAIN.auth.ap-northeast-1.amazoncognito.com
